<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDt7UAWTxho1Flk2VLiO8Sg_uBPSB7GPGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1063550777491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>utcs.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-13f32</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-13f32.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063550777491:ios:57b0d233f4b45639697566</string>
</dict>
</plist>